<div class="container">
    <div class="header">Reserved</div>
    <div class="mid-container">
      <ng-container *ngFor="let reservation of reservations">
        <div class="reserved-meds" routerLink="/home/landing">
            <h3>{{reservation.orderID}}</h3>
            <span class="store-details">{{reservation.storeName}}<br/>
              {{reservation.storeAddress}} <br/></span>
            <label for="time-to-live">Valid Until:</label>
            <span class="time-to-live"> {{reservation.validityPeriod}}</span>
        </div>
      </ng-container>


    </div>

</div>
