<div class="container">
    <form action="">
        <fieldset>
            <legend><img src="./../../../assets/MediSearch logo.png" class="field-header"><br><span>MediSearch</span></legend>
                <input type="text" placeholder="Username"/>
                <input type="password" placeholder="Password">
                <a routerLink="/home/landing"><input type="submit" class="login-button" value="Login"></a>
                <a routerLink="/signup" class="signup">Sign Up</a>
        </fieldset>
    </form>
</div>