<div class="container">
  <div class="content">
    <div class="top-container">
      <div class="header">
        <button class="back"><i class="fa-solid fa-arrow-left-long"></i></button>&nbsp;Edit Account
      </div>
      <div class="account-info">
        <div class="info-header">
          First Name
        </div>
        <div class="info">
          <input type="text" value="Dhaine" autofocus>
        </div>
        <div class="info-header">
          Last Name
        </div>
        <div class="info">
          <input type="text" value="Bracamonte">
        </div>
        <div class="info-header">
          Contact Number
        </div>
        <div class="info">
          <input type="text" value="09151466279">
        </div>
        <div class="info-header">
          Email
        </div>
        <div class="info">
          <input type="text" value="dhaine_br@protonmail.com">
        </div>
        <div class="info-header">
          Password
        </div>
        <div class="info">
          <input type="text" value="gentogento">
        </div>
      </div>
    </div>
    <button class="save" routerLink="/home/account">
      <i class="fa-solid fa-floppy-disk"></i>&nbsp;Save
    </button>
  </div>




</div>
