<div class="container">
  <div class="header">
    <div class="left">Pharmacies</div>
    <div class="right"><i class="fa-solid fa-location-dot"></i></div>
  </div>
  <div class="top-nav">
    <button #button1 (click)="toggleButtonActive($event, button1)"><i class="fa-solid fa-street-view"></i></button>
    <button #button2 (click)="toggleButtonActive($event, button2)"><i class="fa-solid fa-star-half-stroke"></i></button>
    <button #button3 (click)="toggleButtonActive($event, button3)"><i class="fa-solid fa-arrow-up-z-a"></i></button>
    <button #button4 (click)="toggleButtonActive($event, button4)"><i class="fa-solid fa-arrow-down-z-a"></i></button>
  </div>
  <div class="mid-container">
    <div class="store">
        <div class="store-detail-container">
            <h3>Store Name</h3>
            <span class="store-details">Store Address <br>
            Store Hours</span> <br>
            <i class="fa-solid fa-star-half-stroke" id="star-icon"></i><span class="rating">&nbsp; 4.5</span>
        </div>
    </div>

    <div class="store">
      <div class="store-detail-container">
          <h3>Store Name</h3>
          <span class="store-details">Store Address <br>
          Store Hours</span> <br>
          <i class="fa-solid fa-star-half-stroke" id="star-icon"></i><span class="rating">&nbsp; 4.5</span>
      </div>
    </div>

    <div class="store">
      <div class="store-detail-container">
          <h3>Store Name</h3>
          <span class="store-details">Store Address <br>
          Store Hours</span> <br>
          <i class="fa-solid fa-star-half-stroke" id="star-icon"></i><span class="rating">&nbsp; 4.5</span>
      </div>
    </div>

    <div class="store">
      <div class="store-detail-container">
          <h3>Store Name</h3>
          <span class="store-details">Store Address <br>
          Store Hours</span> <br>
          <i class="fa-solid fa-star-half-stroke" id="star-icon"></i><span class="rating">&nbsp; 4.5</span>
      </div>
    </div>

    <div class="store">
      <div class="store-detail-container">
          <h3>Store Name</h3>
          <span class="store-details">Store Address <br>
          Store Hours</span> <br>
          <i class="fa-solid fa-star-half-stroke" id="star-icon"></i><span class="rating">&nbsp; 4.5</span>
      </div>
    </div>

    <div class="store">
      <div class="store-detail-container">
          <h3>Store Name</h3>
          <span class="store-details">Store Address <br>
          Store Hours</span> <br>
          <i class="fa-solid fa-star-half-stroke" id="star-icon"></i><span class="rating">&nbsp; 4.5</span>
      </div>
    </div>
  </div>



</div>
