div {
  border-style: solid;
}

body, html {
  height: 100%; /* Ensure the body and html take up the full viewport height */
}


.container  {
  display: flex;
  flex-direction: column;
  height: 99%;
  position: relative;
}

.bottom-nav {
  position: absolute;
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Occupy full width of the container */
  height: 10%; /* Set the height to 15% of the container */
  border-style: solid; 
  align-self: flex-end;
  text-align: center;
}

i {
  font-size: 12.5vw;
  margin: auto;
  padding: 0 5%;
  color: #50b299;
}