<div class="container">
  <div class="header">
      <div class="nav-group">
        <button routerLink="/home/landing" class="back"><i class="fa-solid fa-arrow-left-long"></i></button>
        <p class="name">Pharmacy Name</p>
      </div>

  </div>
  <div class="top-nav">
    <div class="searchbar">
        <i class="fa fa-search"></i><input type="text" placeholder="Search">
    </div>
    <div class="cart">
      <button class="cart-button" routerLink="/home/cart"><i class="fa-solid fa-cart-shopping"></i></button>
    </div>
  </div>
  <div class="content">
    <ng-container *ngFor="let medicine of medicines">
      <div class="medicine-container">

        <div class="medicine-name">
          {{medicine.medicineName}}
        </div>
        <div class="price">
          {{medicine.medicinePrice}}
        </div>
        <div class="action">
          <button class="add-to-cart" (click)="addToCart()"><i class="fa-solid fa-cart-plus"></i></button>
        </div>

      </div>
    </ng-container>

    <button mat-fab class="floating-button">
      <span class="directions"><i class="fa-solid fa-diamond-turn-right"></i></span>
    </button>
  </div>



</div>
