<div class="container">
    <div class="content">
      <div class="top-container">
        <div class="header">
          <i class="fa-solid fa-user"></i>&nbsp;Account
        </div>
        <div class="account-info" routerLink="/home/info">
          <div class="info-header">
            First Name
          </div>
          <div class="info">
            Dhaine
          </div>
          <div class="info-header">
            Last Name
          </div>
          <div class="info">
            Bracamonte
          </div>
          <div class="info-header">
            Contact Number
          </div>
          <div class="info">
            09151466279
          </div>
          <div class="info-header">
            Email
          </div>
          <div class="info">
            dhaine_br@protonmail.com
          </div>
          <div class="info-header">
            Password
          </div>
          <div class="info">
            ***************
          </div>
        </div>
      </div>
      <button class="signout" routerLink="/login">
        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;Log out
      </button>
    </div>




</div>
