<div class="container">
    <div class="account-header" routerLink="/home">
        Account Header
    </div>
    <div class="middle-container">
        <div class="left">
            <div class="addresses">
                <i class="fa fa-map-marker"></i>&nbsp;Addresses
            </div>
            
            <div class="following">
                <i class="fa fa-heart"></i>&nbsp;Following
            </div>

        </div>
        <div class="right">
            <div class="history">
                <i class="fa fa-history"></i>&nbsp;History
            </div>

            <div class="review">
                <i class="fa fa-star"></i>&nbsp;Reviews
            </div>
            
        </div>
    </div>
    <div class="signout" routerLink="/login">
        <i class="fa fa-sign-out"></i>&nbsp;Log out
    </div>

    
</div>
