<div class="container">
    <div class="searchbar">
        <i class="fa fa-search"></i><input type="text" placeholder="Search">
    </div>
    <div class="top-nav">
        <div class="left">
            <h3><i class="fa fa-map-pin" id="pin"></i>&nbsp;Nearest</h3>
            <div class="nearest-store">
                <div class="store-detail-container">
                    <h3>Store Name</h3>
                    <span class="details">Address <br>
                    Distance</span>
                </div>
            </div>
        </div>
        <div class="right">
            <h3><i class="fa fa-star" id="star"></i>&nbsp;Highest Rated</h3>
            
            <div class="highest-rated">
                <div class="store-detail-container">
                    <h3>Store Name</h3>
                    <span class="details">Address <br>
                    <i class="fa fa-star" id="star"></i>&nbsp;5.0</span>
                </div>
            </div>
            
        </div>
    </div>


    <fieldset class="mid-container">
        <legend><i class="fa fa-medkit"></i>&nbsp;All Pharmacies</legend>
        <div class="store">
            <div class="store-detail-container">
                <h3>Store Name</h3>
                <span class="store-details">Store Address <br>
                Store Hours</span> <br>
                <i class="fa fa-star-half-full" id="star-icon"></i><span class="rating">&nbsp; 4.5</span>
            </div>
        </div>

       
    </fieldset>

</div>