.container  {
    min-height: 250vh;
    z-index: 901;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}

*   {
    border-style: hidden;
    outline: none;
}

.top-nav {
  width: 100%;
  height: 10vh;
  color: #55665e;
  display: flex;
  flex-direction: row;
  padding: 3% 0 0 0;
  position: fixed;
  z-index: 9999;
  background-color: white;
}

.cart {
  width: 10%;
  margin: 0;
  height: 6vh;
  padding: 1.5% 3% 0 0;
}

.searchbar  {
    text-align: center;
    margin: 1% auto;
    width: 80%;
    border-radius: 0.75rem;
    color: #55665e;
    box-shadow: #ddf0eb 0rem 0.2rem 0.3rem -0.15rem, #ddf0eb 0rem 0.1rem 0.2rem -0.1rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 998;
    height: 6vh;
}

input[type="text"]  {
    font-size: 5vw;
    padding: 2%;
    width: 85%;
    outline: none;
    background-color: transparent;
    color: #55665e;
}

i   {
    font-size: 5vw;
    background-color: transparent;
    opacity: 0.75;
}

.cart-button {
  float: right;
  border-radius: 0.25rem;
  background-color: white;
  color: #50b299;
  border-radius: 2rem;
  padding: 25%;
  box-shadow: #ddf0eb 0 0 0.5rem 0.2rem;
}



//Middle div
.content  {
  margin: 25% 0 0 0;
}
.mid-container  {
  height: 5vh;
  position: relative;
}

h3  {
  font-family: Idealist Sans;
  padding: 0 0 0 2.5%;
  color: #55665e;
}

.pharmacies {
  display: flex;
  overflow-x: scroll;
  padding: 0 0 0 2.5%;
  height: 32.5vh;
  justify-content:flex-start;
  align-items: center;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.pharmacy-card  {
  min-height: 25vh;
  max-height: 30vh;
  margin: 0 5% 0 0;
  width: 100%;
  border-radius: 0.25rem;
  padding: 2.5%;
  background-color: white;
  box-shadow: #ddf0eb 0rem 0.0625rem 0rem, #ddf0eb 0rem 0rem 0.5rem;
}

.top {
  width: 100%;
  height: 12.5vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.bottom  {
  width: 100%;
  height: 10vh;
}

.pharmacy-details  {
  font-size: 2.75vw;
}

.rating {
  opacity: 0.5;
  font-weight: 200;
  font-size: 2.75vw;
}

#star-icon  {
  color: rgb(255, 183, 0);
  font-size: 3.75vw;
}

.pharmacy-details, .pharmacy-name  {
  color: #55665e;
}

.pharmacy-name  {
  font-size: 3.5vw;
}


//bottom container div
.bottom-container {
  min-height: 200vh;
  max-height: 220vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sort-nav {
  width: 100%;
  padding: 2%;
  color: #55665e;
  text-align: right;
  height: 5vh;
  position: sticky;
  z-index: 99;
}

.select-form  {
  width: 35%;
  float: right;
  margin: 0 5% 0 0
}

select  {
  border-radius: 0.25rem;
  font-size: 3vw;
  opacity: 0.5;
  box-shadow: #50b299 0 0 0.25rem 0.02rem;
}

label {
  font-size: 4vw;
}

option  {
  font-size: 3vw;
  outline: none;
  border-radius: 1rem;
  background-color: white;
  color: #55665e;
}

.all-pharmacies {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2.5% 0 10% 0
}

.store    {
  width: 95%;
  margin: auto;
  margin-bottom: 5%;
  min-height: 15vh; /* Set a minimum height */
  max-height: 20vh; /* Set a maximum height if needed */
  overflow: hidden; /* Add vertical scrollbar when needed */
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.2rem 0.4rem -0.05rem, rgba(0, 0, 0, 0.06) 0rem 0.1rem 0.4rem -0.05rem;
  background-color: #e4f8ef;
  justify-content: center;
  align-items: center;
  display: flex;

}

.left {
  float: left;
  width: 20%;
  justify-content: center;
  align-items: center;
  height: 12.5vh;
  text-align: center;
  display: flex;
  margin: auto;
}

.right  {
  float: right;
  width: 70%;
  height: 15vh;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.store-detail-container {
  width: 100%;
  height: 90%;
}

.store-details, .store-name  {
  color: #55665e;
}

.store-name  {
  font-size: 4.5vw;
}


.floating-button {
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 1000;
}


@media (max-width: 768px) {
  .floating-button {
    bottom: 12%;
    right: 2%;
  }
}

.location {
  color: #55665e;
  background-color: transparent;
}

::placeholder   {
    font-weight: 100;
}

