<div class="container">

  <div class="top-nav">
    <div class="searchbar"  routerLink="/home/search">
        <i class="fa fa-search"></i><input type="text" placeholder="Search" autofocus>
    </div>
    <div class="cart">
      <button class="cart-button" routerLink="/home/cart"><i class="fa-solid fa-cart-shopping"></i></button>
    </div>
  </div>


  <div class="content">

      <div class="all-pharmacies">
        <!-- <ng-container *ngFor="let  pharmacy of pharmacyList"> -->
          <div class="medicine">
            <div class="left">
              <div class="medicine-name">
                Biogesic
              </div>
              <div class="store-name">
                The Generics Pharmacy
              </div>
              <div class="address">
                Brgy. 2, Poblacion, Batangas City
              </div>
            </div>
            <div class="right">
              <button class="add-to-cart" (click)="addToCart()"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
          </div>
        <!-- </ng-container> -->
      </div>

    </div>
  </div>

