<div class="container">

    <img src="./../../../assets/MediSearch logo.png">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
        <fieldset>
            <legend>Create Account</legend>
            <label for="name">Name</label>
            <input type="text" formControlName="name" id="name"/>
            <label for="email">Email Address</label>
            <input type="email" formControlName="email" id="email"/>
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password"/>
            <span hidden>customer</span>
        </fieldset>
        <div class="buttons">
        <a routerLink="/login"><button>Cancel</button></a>
            <input type="submit" value="Next">
        </div>
    </form>


</div>
