<div class="container">
  <div class="header">
    <button routerLink="/home/landing" class="back"><i class="fa-solid fa-arrow-left-long"></i></button>
    <p class="label">Shopping Cart</p>
    <button class="empty-cart"><i class="fa-solid fa-trash"></i></button>
  </div>


  <div class="mid-container">
    <div class="order-summary">
      <div class="medicines">
        <div class="medicine-container">
          <div class="order-header">
            <div class="products">
              Seretide 250 Diskus 2x
            </div>
            <div class="action">
              <button class="remove"><i class="fa-solid fa-xmark"></i></button>
            </div>
          </div>
          <div class="store-name">
            The Generics Pharmacy
          </div>
          <div class="address">
            Evangelista Street, Poblacion, Batangas City
          </div>
        </div>
      </div>
      <div class="price">
        {{this.ordersinfo.totalAmount}}
      </div>
    </div>


  </div>


  <div class="bottom-actions">
    <div div class="summary">
      <div class="order-id">
        Order ID: #1234567890
      </div>
      <div class="total-summary">
        <div class="total-label">Total: </div>
        <div class="total">Php {{this.ordersinfo.totalAmount}}</div>
      </div>
    </div>

    <div class="confirm">
      <button class="confirm-reservation">Confirm Reservation</button>
    </div>
  </div>
</div>
