* {
  background-color: white;
  border-style: hidden;
}

h2 {
  color: #55665e;
  font-family: Idealist Sans;
  padding: 0 0 0 2.5%;
}

mat-dialog-content {
  height: 50vh;
  margin: -5% 0 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #55665e;
}

mat-dialog-actions  {
  align-items: end;
  text-align: right;
  justify-content: end;

}

#map  {
  width: 40vh;
  height: 70vh;
  z-index: 1000;
  border-radius: 0.5rem;
}

.label  {
  color: #55665e;
}

.confirm {
  color: white;
  background-color: #50b299;
  padding: 1% 2.5%;
  border-radius: 0.5rem;
  font-size: 4.5vw;
  float: right;
  margin: auto;
  font-weight: 100;
}



.button {
  width: 100%;
  text-align: right;
}

.coordinates  {
  color: #55665e;
  font-weight: 100;
  font-size: 3vw;
}
